@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.gradient {
    background-image: linear-gradient(90deg, #2580b361  0%, #b3252561 100%);
}

.button-gradient {
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.logo {
    width: 75px;
    height: 75px;
    display: inline-block;
}

.c-card {
    border: 2px solid #fff;
    @apply  flex flex-wrap items-center bg-white shadow-md hover:shadow-2xl rounded-lg overflow-hidden cursor-pointer;
}
.c-card .profile-party {
    font-size: 9px;
    @apply pr-2 xl:pr-0 py-1 leading-none text-orange-800 font-semibold uppercase tracking-wide md:text-xs;
}
.c-card .ballot-number {
    margin-right: 2px;
    @apply  px-2 rounded-full border-2 border-black md:mr-2;
}

.c-card .pl-margin {
    margin-right: 10px;
}

.c-card .card-footer {
    @apply p-4 border-t border-b text-xs text-gray-700;
}

.check-profile {
    font-size: 10px;
    @apply md:text-xs;
}

/* Card States */

.selected-card {
    /* box-shadow: inset 0px 0px 0px 5px green; */
    border: 2px solid orange;
}

.selected-card img {
    @apply grayscale-0;
}

.selected-index {
    /* position: absolute;
    right: 0;
    background-color: dimgray;
    border-radius: 12px;
    width: 30px;
    text-align: center;
    color: #fff;
    z-index: 1; */
    font-size: 10px;
    @apply absolute right-0 bg-gray-500 rounded-xl w-4 md:text-sm md:w-7 text-center text-white z-10;
}

.table-theme {
}
.table-theme tr {
    @apply focus:outline-none h-8 border border-solid border-neutral-200;
}

/* Footer */

@layer utilities {
    .footer-text-logo {
        /* @apply flex-row items-center content-start justify-evenly; */
        @apply flex-row items-start;
    }
    .footer-text-logo-small {
        /* @apply items-center flex-col content-center flex-wrap; */
        @apply justify-center items-center;
    }
    .footer-links {
        @apply flex-col justify-center items-center;
    }

    .footer-kofi {
        /* @apply flex-col flex-wrap items-center; */
        @apply content-center items-start flex-col flex-wrap;
    }

    .card-minheight-md {
        min-height: 288px;
    }

    .card-minheight-lg {
        min-height: 322px;
    }

    .ballot-grid {
        @apply grid grid-cols-2 gap-3;
    }

    .usefullinksimg {
        max-width: 10rem;
        @apply hover:scale-105;
    }
}

/* Generator */

.wizard-generator .wrapper {
    @apply flex justify-evenly py-5;
}

.wizard-generator .step-view {
    margin-block: 0rem!important;
}

.wizard-generator .wrapper .w-stepper {
    @apply bg-neutral-200 text-gray-400;
}

.wizard-generator .wrapper .w-stepper__item {
    max-width: 185px;
}

.wizard-generator .wrapper .w-stepper__item.completed,
.wizard-generator .wrapper .w-stepper__item.active {
    @apply bg-orange-500 text-white font-bold;
    margin-inline-start: 0 !important;
}

.wizard-generator .wrapper .w_stepper__item_content::before,
.wizard-generator .wrapper .w-stepper__item:first-child::before{
    @apply hidden;
}

.wizard-generator .wrapper .w-stepper__item::before {
    content: ">" !important;
    font-weight: bold;
    position: relative;
    z-index: 1 !important;
    height: auto !important;
    background-color: var(--wizard-line-color);
    flex: 1;
    margin-right: 0 !important;
}

.wizard-generator .wrapper .w_stepper__item_content {
    margin-right: 3px;
    margin-left: 3px;
    min-width: 164.5px;
    @apply justify-center;
}

.wizard-generator .wrapper .w_stepper__item_content .w_stepper__title {
    white-space: nowrap;
}

.wizard-generator:not(.bottom-of-page) .vr-wizard--footer {
    position: fixed;
}

.wizard-generator .vr-wizard--footer {
    border-top: 2px solid #f0f0ef;
    justify-content: center;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 10px;
    z-index: 11;
}

.wizard-generator.loading {
    opacity: 0.1;
    pointer-events: none;
}

.search-bar {
    @apply flex justify-center md:justify-end;
}

/* Buttons */

.wizard-generator .vr-wizard--footer .vr-wizard--btn {
    @apply md:px-20 md:py-3 text-white md:text-xl tracking-wide outline-none shadow-md;;
}

.wizard-generator .vr-wizard--footer .vr-wizard--footer-right .vr-wizard--btn {
    @apply bg-orange-500;
    /* background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); */
}

.wizard-generator .vr-wizard--footer .vr-wizard--footer-right .vr-wizard--btn:disabled {
    opacity: 0.5;
}

.wizard-generator .vr-wizard--footer .vr-wizard--footer-left .vr-wizard--prev-btn {
    @apply bg-slate-400;
}

@media screen and (max-width:1100px) {
    .wizard-generator .wrapper {
        display: none;
    } 
}

/* Ballot */

.ballot-border {
    box-shadow: inset 0px 0px 0px 1px black;
}

.ballot-center {
    @apply flex justify-center items-center text-center px-1;
}

#ballot-result {
    width: 40rem;
    padding: 40px 20px;
}

/* Check layer utilities for: .ballot-grid */


.usefullinksdiv {
    margin: 0 auto;
    max-width: 6rem;
    @apply flex flex-col md:flex-row justify-center items-center md:max-w-lg;
}

/* Privacy Page */

.priv-spacing {
    @apply py-4;
}

.priv-spacing h2 {
    @apply font-bold;
}

.priv-spacing p {
    @apply text-justify md:text-left;
}